
/*重新定义Html元素*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
strong { font-weight: bold;}
ul, ol { list-style: none outside none;}
fieldset, img { border: medium none;}
caption, th {  text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}
body { font: 12px/150% "Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; color: #666666;  background: #FFF none repeat scroll 0 0; margin: 0; padding-right: 40px;}
a { color: #555; outline: medium none;}
a:link, a:visited, a:active { text-decoration: none;}
a:hover { color: #E4393C; text-decoration: underline;}
i, cite, em { font-style: normal;}
/*为旧版本浏览器格式化Html5元素*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }
/*常用宽度、高度、边距、边框属性 */
.w { width: 100%}
.wrapper {width:1200px; margin: auto;}
.fl { float: left;}
.fr { float: right;}

.block { display: block;}
.none { display: none;}

.goods_price { font-family: Verdana;}
.goods_price em { font-weight: 600; color: #e10414;}
.nc-appbar-tabs a.compare { display: none !important;}/*团购页面去除侧边栏对比

/*广告区域布局样式*/
.ads-topbanner-layout { text-align: center; display: block; width: 100%; overflow: hidden;}

/* 首页焦点区域 */
.index_top { width: 100%; height: 488px; position: relative; z-index: 1; background:url(../images/banner_bg.jpg) no-repeat; background-size:100% 488px;}
/* 满屏背静切换焦点图 */
.full-screen-block {width:400px; height:488px; margin:0 auto; position: absolute; z-index:999; right:10%;}

.full-screen-block  a.full-screen-jiu {width:110px; height:110px; display:block; position: absolute; z-index:999; top:80px; right:155px; background:url(../images/banner_block_jiu.png);}
.full-screen-block  a.full-screen-jiu:hover {background:url(../images/banner_block_jiu_hover.png);}

.full-screen-block  a.full-screen-se {width:110px; height:110px; display:block; position: absolute; z-index:999; top:170px; right:35px; background:url(../images/banner_block_se.png);}
.full-screen-block  a.full-screen-se:hover {background:url(../images/banner_block_se_hover.png);}

.full-screen-block  a.full-screen-cai {width:110px; height:110px; display:block; position: absolute; z-index:999; top:290px; right:125px; background:url(../images/banner_block_cai.png);}
.full-screen-block  a.full-screen-cai:hover {background:url(../images/banner_block_cai_hover.png);}

.full-screen-block  a.full-screen-qi {width:110px; height:110px; display:block; position: absolute; z-index:999; top:200px; right:245px; background:url(../images/banner_block_qi.png);}
.full-screen-block  a.full-screen-qi:hover {background:url(../images/banner_block_qi_hover.png);}

.full_screen { width:100%; height: 488px; float:left; position: relative; z-index: 1;}
.full_screen li { width: 100%; height: 100%; position: absolute; z-index: 1; top: 0; left: 0;}
.ffull_screen li a { display: block; width:776px; height:270px; text-indent:-9999px; margin-left: -388px; position: absolute; z-index: 2; left: 50%;}
.full-screen-slides-pagination{ font-size: 0; *word-spacing:-1px/*IE6、7*/; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33FFFFFF', endColorstr='#33FFFFFF'); background: rgba(255,255,255,0); text-align:center; display:block; list-sttyle:none; width: 100%; height: 6px; padding:7px 0 7px 0 ; margin:0 auto; position:absolute; z-index: 9; bottom:10px;}
.full-screen-slides-pagination li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; list-style:none; width:15px; height:15px; margin-left:10px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3F000000', endColorstr='#3F000000');background:rgba(0,0,0,0.2);  overflow: hidden; cursor: pointer; *zoom:1;
border-radius: 15px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 15px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 15px; /* Webkit浏览器的私有属性 */ 
border-radius: 15px 15px 15px 15px; /* 四个半径值分别是左上角、右上角、右下角和左下角 */ }
.full-screen-slides-pagination a { display: block; width:100%; height:100%; padding:0; margin:0; text-indent:-9999px;}
.full-screen-slides-pagination .current { background: #c40000;}


/* 三联切换焦点图 */
.three_img { width: 776px; height: 180px; margin-left: -388px; clear: both; position: absolute; z-index: 2; top: 301px; left: 50%; overflow: hidden;}
.three_img ul { background-color: #FFF; width: auto; height: 180px; position: absolute; z-index: 1; overflow: hidden;}
.three_img ul li { width: 777px; height: 180px; float: left; margin-left: -1px; }
.three_img ul li a { display: block; width: 259px; height: 180px; float: left;}
.three_img ul li a img {width: 259px;height: 180px;}
.three_img .arrow { background: url(../images/home_bg.png) no-repeat; width: 45px; height: 100px; position: absolute; z-index: 2; top: 40px; cursor: pointer; }
.three_img .pre { background-position: 0 -100px; left: 0;}
.three_img .next { background-position: -45px -100px; right: 0;}
.three_img .pagination{ display: none;}

/*焦点区域右侧*/
.index_top .index_right { filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19000000', endColorstr='#19000000');background:rgba(255,255,255,0.6); width: 210px; height: 360px; padding: 1px; margin-left: 388px; position: absolute; z-index:1; top: 0; left: 50%; text-align:center; padding-top:128px; z-index:99;}

.index_top .index_right img {width: 180px; height: 180px; margin:0 auto; 
border-radius: 180px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 180px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 180px; /* Webkit浏览器的私有属性 */ 
border-radius: 180px 180px 180px 180px; /* 四个半径值分别是左上角、右上角、右下角和左下角 */ }

.index_top .index_right p {width: 200px; height: auto; line-height:25px; margin:0 auto; text-align:center; font-size:18px; font-family:'微软雅黑','microsoft yahei'; padding:20px 5px 0 5px; color:#000000;}

/*服务标志*/
.index_top .policy { background-color: #FFF; width: 210px; height: 81px; padding: 8px 0 0;}
.index_top .policy ul { width: 210px; height: 80px; }
.index_top .policy ul li { line-height: 24px; color: #999; background: url(../images/CP.png) no-repeat; width: 50px; height: 24px; float: left; padding: 52px 10px 0 10px}
.index_top .policy ul li.b1 { background-position: 0 0;}
.index_top .policy ul li.b2 { background-position: -70px 0;}
.index_top .policy ul li.b3 { background-position: -140px 0;}

/* 商城首页-新闻及店铺Tab切换 */
.nc-home-news .tabnav { background: #F7F7F7; height:32px; border-bottom: solid 1px #E7E7E7; position:relative; z-index:1;}
.nc-home-news .tabnav li { line-height:25px; background:#F7F7F7; text-align: center; display:block; width:70px; height:25px; float:left; padding: 0; margin:5px 0 0 5px; border: solid #F7F7F7; border-width: 1px 1px 0 1px; position:relative; z-index:9; }
.nc-home-news .tabnav li.tab_selected { color:#333; font-weight: 700; line-height:27px; background:#FFF; height:27px;  border: solid #E7E7E7; border-width: 1px 1px 0 1px; position:relative; z-index:10; _margin-bottom:-1px/* IE6 */; }
.nc-home-news .tabnav li a:hover, .nc-home-news .tabnav li.tab_selected a { color:#333;}
.nc-home-news .floor_list {width: 95%; margin: 6px auto;}
.tabs-hide { display: none !important;}
.floor_list .store-join-btn { background: url(../images/home_bg.png) no-repeat 0 -200px; display: block; width: 180px; height: 60px; margin: 20px auto 10px;}
.floor_list .store-join-help { color: #999; display: block; text-align: center; }
.floor_list .store-join-help:hover { text-decoration: none; color: #39C;}
.floor_list .store-join-help i { font-size: 14px; margin-right: 4px;}
/*团购活动*/
.index_top .groupbuy { background-color: transparent; width: 210px; height: 238px; position: relative; z-index: 1; overflow: hidden;}
.index_top .groupbuy .title { line-height: 30px; background-color: #F0F0F0; color: #777; width: 210px; height: 30px;}
.index_top .groupbuy .title i { line-height: 16px; color: #FFF; background-color: #CB0100; vertical-align: middle; text-align: center; display: inline-block; width: 16px; height: 16px; margin: auto 8px auto 5px; border-radius: 2px;}
.index_top .groupbuy ul { height: 210px; padding: 0px; margin: 0px; float: left; clear: both; position: absolute; z-index:1;}
.index_top .groupbuy ul li { float: left; width: 210px; height: 208px; padding: 0px; }
.index_top .groupbuy .pagination { display: none;}
.index_top .groupbuy .arrow { background: url(../images/home_bg.png) no-repeat; width: 19px; height: 29px; position: absolute; z-index: 2; top: 100px; cursor: pointer;}
.index_top .groupbuy:hover .arrow { opacity: 0.5!important;}
.index_top .groupbuy .arrow:hover { opacity: 0.8!important;}
.index_top .groupbuy .pre { background-position: -160px -40px; left: 0;}
.index_top .groupbuy .next { background-position: -180px -40px; right:0;}
.index_top .groupbuy dl { background-color: #FFF; background-repeat: no-repeat; background-position: top center; width: 210px; height: 208px; position: relative; z-index: 1;}
.index_top .groupbuy dl dt { color: #FFF; text-shadow: 1px 1px 0 rgba(0,0,0,0.25); filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5); text-overflow: ellipsis; white-space: nowrap; width: 200px; height: 20px; padding: 2px 5px 38px 5px; position: absolute; z-index: 1; top: 148px; left: 0; overflow: hidden;}
.index_top .groupbuy dl dd.price { font-family: Verdana, Geneva, sans-serif; background: url(../images/home_bg.png) no-repeat 0 0; width: 200px; height: 30px; position: absolute; z-index: 1; top: 178px; left: 10px;}
.index_top .groupbuy dl dd.price .groupbuy-price { font-size: 16px; font-weight: 600; color: #FFF; line-height: 24px; display: block; height: 24px; float: left; margin: 3px 0 auto 12px;}
.index_top .groupbuy dl dd.price .original-price { font-size: 12px; color: #FFF; text-decoration: line-through; line-height: 24px; color: #F99; display: block; float: left; height: 24px; margin: 3px 0 auto 4px;}
.index_top .groupbuy dl dd.price .buy-button a { font-weight: 600; color: #FFF; background-color: #FF6800; line-height: 20px; text-align: center; width: 54px; height: 22px; float: right; margin: 5px 5px auto auto;}
.index_top .groupbuy dl dd.time { font-family: Verdana; background-color: #FFF; width: 200px; height: 20px; padding: 4px 5px; position: absolute; z-index: 1; bottom: 0; left: 0;}
.index_top .groupbuy dl dd.time .sell { float: left;}
.index_top .groupbuy dl dd.time .sell em { font-weight: 600; color: #E72551; margin-left: 2px;}
.index_top .groupbuy dl dd.time .time-remain { color: #777; float: right;}
.index_top .groupbuy dl dd.time .time-remain em { font-weight: 600; color: #E72551;}
/* 商城首页-新闻及店铺Tab切换*/
.proclamation { background: #FFF; width: 210px; height: 152px;}
.proclamation .tabnav { background: #F7F7F7; height:30px; border: solid #E7E7E7; border-width: 1px 0; position:relative; z-index:1;}
.proclamation .tabnav li { background:#F7F7F7; text-align: center; display: block; width: 103px; height: 20px; float: left; padding: 5px 0; margin: 0; border: solid #F7F7F7; border-width: 0 0 0 1px; position: relative; z-index: 9; cursor: pointer;}
.proclamation .tabnav li h3 { font-weight: 600; line-height:20px;}
.proclamation .tabnav li.tab_selected { color: #333; font-weight: 600; line-height: 20px; background: #FFF;  height: 20px;  border-style: solid; border-color: transparent #E7E7E7 #FFF #E7E7E7; border-width: 0 1px 1px 1px ; position: relative; z-index:10; _margin-bottom: -1px/* IE6 */; }
.proclamation .tabnav li h3, #news .tabnav li.tab_selected h3 { color:#333;}
.proclamation .floor_list  {width: 95%; margin: 6px auto;}
.proclamation .index_news {}
.proclamation .index_news li { line-height: 20px; text-overflow: ellipsis; white-space: nowrap; height: 20px; padding: 1px 0; overflow: hidden;}
.proclamation .index_news li i { background: url(../images/home_bg.png) no-repeat -70px -40px; vertical-align: middle; display: inline-block; width: 2px; height: 2px; margin-right: 6px;}
.proclamation .index_news li time { font-family: Tahoma, Geneva, sans-serif; color: #999; font-size: 10px; margin-left: 6px;}
.tabs-hide { display: none !important;}

.index_same  { overflow: hidden;}
.index_same  .left-layout { width:1200px; float: left; border-bottom: solid 1px #F0F0F0;}
.index_same  .tabnav { background-color: transparent; width: 100%; height: 40px; border-style: solid; border-width: 0 0 2px 0; border-color: transparent transparent #F0F0F0 transparent; position: relative; z-index: 1;}
.index_same  .tabnav li { background-color: transparent; width: 20%; *width: 195px; height: 40px; float: left; padding: 0; position: relative; z-index: 1; cursor: pointer;}
.index_same  .tabnav li h3 { font-size: 12px; font-weight: 600; line-height: 38px; text-align: center;}
.index_same  .tabnav li i { font-size: 0px; line-height: 0; display: none; width: 0px; height: 0px; float: right; margin-left: -4px; border-width: 5px;  border-style: dashed dashed solid dashed; position: absolute; z-index: 1; bottom: 0; left: 50%;}
.index_same  .tabnav .tab_selected { border-style: solid; border-width: 0 0 2px 0; border-color: #c40000;}
.index_same  .tabnav .tab_selected i { display: block; border-color: transparent transparent #c40000;}
.index_same  .tabnav .tab_selected h3 { color: #c40000;}
.index_same  .floor_list { width:1200px; overflow: hidden;}
.index_same  .floor_list ul { width:1210px; margin-left: -1px; overflow: hidden;}
.index_same  .floor_list ul li { width: 197px; height: 235px; padding: 15px 0 0; border-left: dotted 1px #F0F0F0; float: left; overflow: hidden;}
.index_same  .floor_list dl { width: 160px; margin: 0 auto auto; position: relative; z-index: 1;}
.index_same  .floor_list dl dt.goods_name { font-family: Tahoma, Geneva, sans-serif; line-height: 16px; width: 160px; height: 32px; position: absolute; z-index: auto; top: 164px; left: 0; overflow: hidden;}
.index_same  .floor_list dl dd.goods_img { width: 160px; height: 160px; position: absolute; z-index: auto; top: 0; left: 0;}
.index_same  .floor_list dl dd.goods_img a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 160px; height: 160px; overflow: hidden;}
.index_same  .floor_list dl dd.goods_img img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2); *margin-top:expression(80-this.height/2);}
.index_same  .floor_list dl dd.goods_price { line-height: 20px; color: #999; position: absolute; z-index: auto; top: 200px; left: 0;}
.index_same  .floor_list dl dd.goods_price em { font-size: 14px; vertical-align: middle;}
.index_same  .index_right { width: 211px; float: right;}
.index_same  .index_right .title { height: 40px; border-bottom: solid 2px #F00;}
.index_same  .index_right .title h3 { font-size: 12px; font-weight: 600; line-height: 38px; color: #c40000; float: left; margin-left: 20px;}
.index_same  .index_right .title a { line-height: 38px; float: right; margin-right: 6px;}
.index_same  .sale-discount { width: 210px; height: 252px; overflow: hidden; position: relative; z-index: 1;}
.index_same  .sale-discount ul { width: auto; height: 252px; position: absolute; z-index: 1;}
.index_same  .sale-discount ul li { width: 210px; height: 50px; float: left; padding: 191px 0 0 0;}
.index_same  .sale-discount .arrow { background: url(../images/home_bg.png) no-repeat; width: 19px; height: 29px; margin-top: -40px; position: absolute; z-index: 2; top: 50%; cursor: pointer; opacity: 0.25!important; }
.index_same  .sale-discount .arrow:hover { opacity: 0.85!important;}
.index_same  .sale-discount .pre { background-position: -160px -70px; left: 0;}
.index_same  .sale-discount .next { background-position: -180px -70px; right: 0;}
.index_same  .sale-discount dl { height: 59px; width: 210px; border-bottom: solid 1px #F0F0F0; position: relative; z-index: 1;}
.index_same  .sale-discount dl dt, .index_same  .sale-discount dl dd { position: absolute; z-index: auto;}
.index_same  .sale-discount dt.goods_name { text-overflow: ellipsis; white-space: nowrap; width: 200px; height: 20px; top: 30px; left: 5px; overflow: hidden;}
.index_same  .sale-discount dd.goods_img { top: -155px; left: 30px;}
.index_same  .sale-discount dd.goods_img a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 150px; height: 150px; overflow: hidden;}
.index_same  .sale-discount dd.goods_img img { max-width: 150px; max-height: 150px; margin-top:expression(150-this.height/2); *margin-top:expression(75-this.height/2);}
.index_same  .sale-discount dd.goods_price { font: 600 16px/30px Verdana; color: #C00; width: 200px; height: 30px; top: 0; left: 5px; }
.index_same  .sale-discount dd.goods_price .original { font-size: 12px; color: #AAA; font-weight: normal; text-decoration: line-through; margin-left: 6px;}
.index_same  .sale-discount dd.goods_price-discount { color: #FFF; background: url(../images/home_bg.png) no-repeat -100px -100px; text-align: center; width: 48px; height: 24px; padding: 28px 0 16px 0; top: -40px; right: 5px;}
.index_same  .sale-discount dd.goods_price-discount em { font-size: 16px; font-weight: 600; margin-right: 2px;}
.index_same  .sale-discount dd.time-remain { color: #999; line-height: 16px; text-align: center; width: 210px; height: 16px; top: -180px; left: 0;}
.index_same  .sale-discount dd.time-remain i { background: url(../images/home_bg.png) no-repeat -40px -60px; vertical-align: middle; display: inline-block; width: 11px; height: 11px; margin-right: 4px;}
.index_same  .sale-discount dd.time-remain em { font-weight: 600; color: #555; margin: 0 2px;}
.index_same  .sale-discount dd.goods-buy-btn {}
.index_same  .sale-discount .preNext { opacity: 0.5 !important;}
.index_same  .sale-discount .preNext:hover { opacity: 1 !important;}

/* 首页六宫格推荐 */
.index_six {width:1200px; height: 641px; overflow: hidden; margin:15px auto 15px auto;}
.index_six ul li.six_left {width:800px; height: 641px; margin:0 auto; float:left;}
.index_six ul li.six_left dl dt.six_box1 {width:355px; height: 320px; float:left; margin-bottom:1px;}
.index_six ul li.six_left dl dt.six_box1 img {width:355px; height: 320px;}
.index_six ul li.six_left dl dt.six_box2 {width:444px; height: 320px; float:left; margin-left:1px;  margin-bottom:1px;}
.index_six ul li.six_left dl dt.six_box2 img {width:444px; height: 320px;}
.index_six ul li.six_left dl dt.six_box3 {width:265px; height: 320px; float:left;}
.index_six ul li.six_left dl dt.six_box3 img {width:265px; height: 320px;}
.index_six ul li.six_left dl dt.six_box4 {width:534px; height: 320px; float:left; margin-left:1px; }
.index_six ul li.six_left dl dt.six_box4 img {width:534px; height: 320px;}

.index_six ul li.six_right {width:400px; height: 641px; margin:0 auto; float:left;}
.index_six ul li.six_right dl dt.six_box5 {width:400px; height: 185px; float:left; margin-left:1px; margin-bottom:1px;}
.index_six ul li.six_right dl dt.six_box5 img {width:400px; height:185px;}
.index_six ul li.six_right dl dt.six_box6 {width:400px; height: 455px; float:left; margin-left:1px;}
.index_six ul li.six_right dl dt.six_box6 img {width:400px; height: 455px;}

/* 首页五宫格推荐 */
.index_five {width:1200px; height:310px; overflow: hidden; margin:15px auto 15px auto;}
.index_five ul li.five_box1 {width:355px; height: 300px; float:left;}
.index_five ul li.five_box1 img {width:354px; height: 300px;}
.index_five ul li.five_box2 {width:444px; height: 300px; float:left;}
.index_five ul li.five_box2 img {width:443px; height: 300px;}
.index_five ul li.five_box3 {width:401px; height: 300px; float:left;}
.index_five ul li.five_box3 img {width:400px; height: 300px;}

/* 首页相同内容模块 */
.index_foolsame { height: 350px; overflow: hidden; margin-top: 15px;}

.index_foolsame f_title {width:1200px; height:50px; float:left;}

.index_foolsame .f_title a{display:block; float:right;margin-top:15px;}
/*区块左侧*/
.index_foolsame .index_left { width: 390px; height: 300px; float: left; position:relative;}
.index_foolsame .index_left .left_title {background:url(../images/1l.jpg) no-repeat left #ff4638; width: 100%; height: 38px;line-height:38px;}
.index_foolsame .index_left .left_title h2{font: 20px/30px "microsoft yahei"; color: #555;padding-left:60px; padding-top:5px; vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/; zoom:1;color:#fff;}
.index_foolsame .index_left .index_blue{background:url(../images/2l.jpg) no-repeat left center #0051a3;}

.index_foolsame .index_left .index_red{background:url(../images/3l.jpg) no-repeat left center #ff4639;}
.index_foolsame .index_left .index_pink{background:url(../images/4l.jpg) no-repeat left center #ff6ec3;}


/*区块左侧广告*/
.index_foolsame .left_adv1 { width:390px; height: 300px;}
.index_foolsame .left_adv1 img { max-width: 390px; max-height: 300px;width:390px;height:300px;}

/*左侧广告切换*/
.index_foolsame .left_adv { width: 212px; height: 280px; position: relative; z-index: 1; overflow: hidden;}
.index_foolsame .left_adv ul { height: 280px; position: absolute; z-index: 1;}
.index_foolsame .left_adv ul li { width: 212px; height: 280px; overflow: hidden; float: left;}
.index_foolsame .left_adv img { width: 212px; height: 280px;}
.index_foolsame .left_adv .pagination { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: center; width: 192px; height: 6px; padding: 7px 10px; position: absolute; z-index: 3; right: 0; bottom: 0;}
.index_foolsame .left_adv .pagination span { background: #fff; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; list-style:none; width:24px; height:6px; margin-left:4px; cursor: pointer;}
.index_foolsame .left_adv .pagination span.on { background: #fff;}

/*左侧推荐分类*/
.index_foolsame .left_bottom {width: 390px; height: 60px; margin: 0 auto; overflow: hidden; background:#fff; position:absolute; z-index:99; bottom:0px;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;}
.index_foolsame .left_bottom ul {width: 390px; height:60px;}
.index_foolsame .left_bottom ul li{width:390px;height:60px;overflow:hidden ;}
.index_foolsame .left_bottom ul li a{display:block;width:90px;float:left;height:30px;line-height:30px;color:#333;font-size:14px; padding-left:7px;}
/*区块中部*/
.index_foolsame .index_middle { width: 810px; height: 100%; float: left;overflow:hidden;}
.index_foolsame .tabnav { background-color: transparent; width: 100%; height: 36px; border-style: solid; border-width: 0 0 2px 0; border-color: transparent transparent #DDD transparent; position: relative; z-index: 1;}
.index_foolsame .tabnav li { background-color: transparent; width: 20%; height: 36px; float: left; padding: 0; border-style: solid; border-width: 0 0 2px 0; border-color: #DDD; position: relative; z-index: 1; cursor: pointer;}
.index_foolsame .tabnav li h3 { font-size: 12px; font-weight: 600; line-height: 38px; text-align: center;}
.index_foolsame .tabnav li i { font-size: 0px; line-height: 0; display: none; width: 0px; height: 0px; float: right; margin-left: -4px; border-width: 5px;  border-style:dashed dashed solid dashed; position: absolute; z-index: 1; bottom: 0; left: 50%;}
.index_foolsame .floor_list { width: 810px; height:300px; padding: 0; margin: 0; position: relative; z-index: 1;}
/*中部推荐位广告图形式1*/
.index_foolsame .middle-banner-style01 { background-color:#000; width: 988px; height: 498px; position: relative; z-index: 1;}
.index_foolsame .middle-banner-style01 a { position: absolute; z-index: 1;}
.index_foolsame .middle-banner-style01 .a1,
.index_foolsame .middle-banner-style01 .a2,
.index_foolsame .middle-banner-style01 .c1,
.index_foolsame .middle-banner-style01 .c2,
.index_foolsame .middle-banner-style01 .a1 img,
.index_foolsame .middle-banner-style01 .a2 img,
.index_foolsame .middle-banner-style01 .c1 img,
.index_foolsame .middle-banner-style01 .c2 img { width: 194px; height: 194px;}
.index_foolsame .middle-banner-style01 .a1 { top: 0; left: 0;}
.index_foolsame .middle-banner-style01 .a2 { top: 194px; left: 0;}
.index_foolsame .middle-banner-style01 .b1 { width: 388px; height: 388px; top: 0; left: 194px;}
.index_foolsame .middle-banner-style01 .b1 img { width: 388px; height: 388px;}
.index_foolsame .middle-banner-style01 .c1 { top: 0; left: 582px;}
.index_foolsame .middle-banner-style01 .c2 { top: 194px; left: 582px;}
.index_foolsame .middle-banner-style01 .d1,
.index_foolsame .middle-banner-style01 .d2,
.index_foolsame .middle-banner-style01 .d3,
.index_foolsame .middle-banner-style01 .d4,
.index_foolsame .middle-banner-style01 .d1 img,
.index_foolsame .middle-banner-style01 .d2 img,
.index_foolsame .middle-banner-style01 .d3 img,
.index_foolsame .middle-banner-style01 .d4 img { width: 194px; height: 110px;}
.index_foolsame .middle-banner-style01 .d1 { top: 388px; left: 0;}
.index_foolsame .middle-banner-style01 .d2 { top: 388px; left: 194px;}
.index_foolsame .middle-banner-style01 .d3 { top: 388px; left: 388px;}
.index_foolsame .middle-banner-style01 .d4 { top: 388px; left: 582px;}
/*中部推荐商品列表*/
.index_foolsame .index_middle { width: 810px !important;  overflow: hidden;}
.index_foolsame .index_middle .middle_goodslist ul { width: 810px; margin:0 auto;height:300px;}
.index_foolsame .index_middle .middle_goodslist ul li { width: 190px;float: left; overflow: hidden;height:298px; border: solid 1px #ddd; margin-left:10px;}
.index_foolsame .index_middle .middle_goodslist ul li { transition: border-color 0.4s ease-in-out 0s;}
.index_foolsame .index_middle .middle_goodslist ul li:hover { width: 190px;float: left; overflow: hidden;height:298px; background:#fff; border: solid 1px #e10414; box-shadow: 0 0 3px rgba(201,201,201,0.9);}
.index_foolsame .index_middle .middle_goodslist ul li:hover .goods_price em {color: #c40000;}
/*.index_foolsame .index_middle .middle_goodslist ul li:hover { width: 181px;float: left; overflow: hidden;height:236px; border:1px #ddd solid; background:#fff; margin:5px;box-shadow: 0 0 6px #ccc;}*/
.index_foolsame .index_middle .middle_goodslist ul li dl { width: 190px; margin: 15px auto auto; position: relative; z-index: 1;}
.index_foolsame .index_middle .middle_goodslist ul li dl dt.goods_name { font-family: Tahoma; line-height: 18px; width: 170px; height: 36px; position: absolute; z-index: auto; top: 198px; left: 0; overflow: hidden; padding:0 5px 0 15px; font-family:"microsoft yahei";}
.index_foolsame .index_middle .middle_goodslist ul li dl dd.goods_img { width: 190px; height: 190px; position: absolute; z-index: auto; top: 0; left: 0;}
.index_foolsame .index_middle .middle_goodslist ul li dl dd.goods_img a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 190px; height: 190px; overflow: hidden; }
.index_foolsame .index_middle .middle_goodslist ul li dl dd.goods_img img { max-width: 190px; max-height: 190px; margin-top:expression(190-this.height/2); *margin-top:expression(80-this.height/2);}
.index_foolsame .index_middle .middle_goodslist ul li dl dd.goods_price {width: 170px; font-size: 18px; line-height: 20px; position: absolute; z-index: auto; top: 239px; left: 0; padding:0 5px 0 15px;}
.index_foolsame .index_middle .middle_goodslist ul li dl dd.goods_price .original { font-size: 12px; font-weight: normal; text-decoration: line-through; color: #999; vertical-align: middle; margin-left: 6px;}
/*右侧推荐品牌*/
.index_foolsame .index_right { width: 212px; height: 100%; float: right; left: 0;}
.index_foolsame .right_brand { width: 212px; height: 257px; overflow: hidden; border-top: 2px solid #DDD;margin:36px 0px 0px -1px;}
.index_foolsame .right_brand img {width:212px; height:257px;}
.index_foolsame .right_brand ul { background-color: #FFF; width: 212px; height: 258px; margin-top: -1px}
.index_foolsame .right_brand ul li { background-color: #FFF; float: left; border-bottom: solid 1px #EEE;}
.index_foolsame .right_brand ul li a { display: block; width: 96px; height: 32px; padding: 5px;}
.index_foolsame .right_brand ul li img { max-width: 96px;  max-height: 32px;}
/*标准区块色彩风格*/
/*红色*/
.style-red .index_left,
.style-red .index_right { background-color: #C1392B;}
.style-red .left-ads {}
.style-red .left_bottom li a { border-color: #C74D41 transparent #AD3327 transparent;}
.style-red .index_left .title .txt-type span,
.style-red .index_middle .tab_selected { color: #C1392B; border-color: #C1392B;}
.style-red .index_middle .tab_selected i { display: block; border-color: transparent transparent #C1392B transparent;}
/*橙色*/
.style-orange .index_left,
.style-orange .index_right{ background-color: #E77E23;}
.style-orange .left-ads {}
.style-orange .left_bottom li a { border-color: #EB9144 transparent #C56B1E transparent;}
.style-orange .index_left .title .txt-type span,
.style-orange .index_middle .tab_selected { border-color: #E77E23;}
.style-orange .index_middle .tab_selected i { display: block; border-color: transparent transparent #E77E23 transparent;}
/*棕色*/
.style-brown .index_left,
.style-brown .index_right{ background-color: #8C4600;}
.style-brown .left-ads {}
.style-brown .index_left .left_bottom li a { border-color: #A36B33 transparent #7E3F00 transparent;}
.style-brown .index_left .title .txt-type span,
.style-brown .index_middle .tab_selected { border-color: #8C4600;}
.style-brown .index_middle .tab_selected i { display: block; border-color: transparent transparent #8C4600 transparent;}
/*绿色*/
.style-green .index_left,
.style-green .index_right { background-color: #27AE61;}
.style-green .left-ads {}
.style-green .index_left .left_bottom li a { border-color: #52BE81 transparent #239C57 transparent;}
.style-green .index_left .title .txt-type span,
.style-green .index_middle .tab_selected { border-color: #27AE61;}
.style-green .index_middle .tab_selected i { display: block; border-color: transparent transparent #27AE61 transparent;}
/*蓝色*/
.style-blue .index_left,
.style-blue .index_right { background-color: #3598DC;}
.style-blue .left-ads {}
.style-blue .index_left .left_bottom li a { border-color: #5DADE3 transparent #3089C6 transparent;}
.style-blue .index_left .title .txt-type span,
.style-blue .index_middle .tab_selected { border-color: #3598DC;}
.style-blue .index_middle .tab_selected i { display: block; border-color: transparent transparent #3598DC transparent;}
/*粉色*/
.style-pink .index_left,
.style-pink .index_right{ background-color: #FF7373;}
.style-pink .left-ads {}
.style-pink .index_left .left_bottom li a { border-color: #FF8F8F transparent #E56767 transparent;}
.style-pink .index_left .title .txt-type span,
.style-pink .index_middle .tabnav .tab_selected { border-color: #FF7373;}
.style-pink .index_middle .tabnav .tab_selected i { display: block; border-color: transparent transparent #FF7373 transparent;}
/*紫色*/
.style-purple .index_left,
.style-purple .index_right { background-color: #9C59B8;}
.style-purple .left-ads {}
.style-purple .index_left .left_bottom li a { border-color: #B07AC6 transparent #8C50A5 transparent;}
.style-purple .index_left .title .txt-type span,
.style-purple .index_middle .tab_selected { border-color: #9C59B8;}
.style-purple .index_middle .tab_selected i { display: block; border-color: transparent transparent #9C59B8 transparent;}
/*浅色*/
.index_foolsame .index_left,
.index_foolsame .index_right{ background-color: #FFF; height: 300px;}
.index_foolsame .left-ads {}
.index_foolsame .left_bottom { height: 60px;}
.index_foolsame .index_left .left_bottom li a { color: #555; text-align: left; border-color: transparent; text-shadow: none;}
.index_foolsame .index_left .left_bottom li a:hover { color: #c40000; text-decoration: underline; background:none;}
.index_foolsame .index_left .title .txt-type span { color: #AAA; border-color: #AAA;}
.index_foolsame .middle_goodslist { border:0;border-top:0px none;border-right:0px none;}
.index_foolsame .index_middle .tab_selected { border-color: #c40000;}
.index_foolsame .index_middle .tab_selected i { display: block; border-color: transparent transparent #c40000 transparent;}
.index_foolsame .left_bottom ul li a { color: #777;}
.index_foolsame .right-side-focus .pagination span { background-color: #c40000;}


.home-channel-layout { margin-top: 15px;}
.home-channel-layout .ll { width: 380px; margin-right: 30px; float: left;}
.home-channel-layout .ml { width: 380px; float: left;}
.home-channel-layout .rl { width: 380px; margin-left: 30px; float: right;}
.home-channel-layout .title { height: 38px; border-bottom: solid 2px #DDD;}
.home-channel-layout .title h2 { font-family: "microsoft yahei"; font-size: 22px; font-weight: 100; line-height: 30px; paddding: 4px;}
.home-channel-layout .content { margin: 10px 0;}

.cms-picture { width: 380px; height: 260px; position: relative; z-index: 1; overflow: hidden;}
.cms-picture ul { position: absolute; z-index: 1;}
.cms-picture ul li { width: 380px; height: 260px; float: left;}

.cms-article { width: 380px;  margin-top: 15px;}
.cms-article dl { width: 120px; height: 110px; float: left; clear: left; position: relative; z-index: 1;}
.cms-article dl dt { line-height: 24px; width: 120px; height: 24px; overflow: hidden; position: absolute; z-index: 1; bottom: 0; left: 0;}
.cms-article dl dd { width: 120px; height: 90px; position: absolute; z-index: 1; top: 0; left: 0;}
.cms-article dl dd img { max-width: 120px;}
.cms-article ul { width: 240px; float: right; }
.cms-article ul li { line-height: 24px;}

.microshop-summary .content { width: 380px; overflow: hidden;}
.microshop-summary .content ul { width: 400px; margin-left: -20px;}
.microshop-summary .content ul li { float: left; width: 180px; height: 240px; padding-left: 20px; margin-bottom: 10px; position:relative; z-index: 1; overflow:hidden;}
.microshop-share { width: 180px; height: 90px; padding: 195px 0 10px 0; position:absolute; left: 20px; top:0; background:url(trans.gif);}
.microshop-share b {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#A5000000', endColorstr='#A5000000');background:rgba(0,0,0,0.65); display: block; width: 180px; height: 240px; position:absolute; z-index: 1; left: 0; top: 195px;}
.microshop-summary .content ul li dl { position: relative; z-index:2;}
.microshop-summary .content ul li dl dt { padding: 5px; }
.share-member-avatar { border: solid 1px #FFF; width: 32px; height: 32px; float: left;}
.share-member-avatar img { max-width: 32px; max-height: 32px;}
.share-member-info { float: left; margin-left: 8px;}
.share-member-name { font-size: 12px; font-weight: 600; color: #FC0;}
.share-date { font-family: Tahoma, Geneva, sans-serif; color: #999;}
.share-content { font-size:12px; line-height:16px; clear: both; height: 32px; padding: 5px; overflow: hidden;}
.share-content a { color: #EEE;}
.share-content a:hover { text-decoration: none; color: #FC0;}
.share-like { line-height: 16px; color: #CCC; padding: 0 5px;}
.share-like i { background: url(../images/home_bg.png) no-repeat -40px -40px; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 5px;}
.share-like em { font-weight: 600; color: #FC0; margin: 0 2px;}


.microshop-thumb {background: #fff; overflow: hidden;}
.microshop-thumb a{overflow: hidden; text-align: center; position: relative;}
.microshop-thumb a img { position: relative; vertical-align: text-top;}

.microshop-thumb { width: 180px; height: 240px;}
.microshop-thumb a { width: 180px; height: 240px;}






.circle-summary .contnet { width: 380px; overflow: hidden;}
.circle-theme { width: 400px; margin-left: -20px; overflow: hidden;}
.circle-theme li { width: 180px; margin-left: 20px; float: left;}
.circle-theme li a { width: 180px; }
.circle-theme-thumb { background: #fff; overflow: hidden;}
.circle-theme-thumb a {overflow: hidden; text-align: center; position: relative;}
.circle-theme-thumb a img {position: relative; vertical-align: text-top;}
.circle-theme-name { line-height: 16px; background-color: #EBF5EC; height: 32px; padding: 5px; overflow: hidden;}
.circle-theme-from { line-height: 24px; color: #999; padding: 0 5px;}
.circle-theme-from a { color: #3AA55A;}

.circle-reply-theme { border: dashed #DDD; border-width: 1px 0; margin: 10px 0 15px 0; padding: 8px 5px; overflow: hidden;}
.circle-reply-theme li { line-height: 24px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.circle-reply-theme li a:hover { color: #3AA55A; text-decoration: none;}
.circle-reply-theme li span { color: #999; margin-right: 4px;}
.circle-member { width: 400px; margin-left: -20px;}

.circle-member li { width: 80px; height: 80px; float: left; margin-left: 20px;}
.circle-member li div.circle-member-avatar { width: 80px; height: 80px;}
.circle-member li div.circle-member-avatar a { text-align: center; vertical-align: middle; display: table-cell; *display: block/*IE7*/; width: 72px; height: 72px; float: left; padding: 3px; border: solid 1px #EBF5EC; overflow: hidden;}
.circle-member li div.circle-member-avatar a:hover { background-color: #EBF5EC;}
.circle-member li div.circle-member-avatar img { max-width: 72px; max-height: 72px; margin-top:expression(72-this.height/2); *margin-top:expression(36-this.height/2)/*IE7*/;}
.circle-member li h4.circle-member-name { font-weight: 600; line-height: 24px; height: 24px;}
.circle-member li h4.circle-member-name a { color: #3AA55A;}
.circle-member li p.circle-member-theme { line-height: 16px; height: 32px; overflow: hidden;}
.circle-member li p.circle-member-theme a { color: #999;}


.clip-thumb { background: #fff; overflow: hidden;}
.clip-thumb a{ overflow: hidden; text-align: center; position: relative;}
.clip-thumb a img { position: relative; vertical-align: text-top;}

/* 友情链接 */
.piclink span { background-color: #FFF; border: 1px solid #D8D8D8; width: 88px; height: 31px; display: inline; float: left; padding: 2px;margin-right: 13px; }
.piclink {  margin: 10px auto;}
.textlink { clear: both; margin: 0 auto; padding: 0 0 10px 0;}
.textlink span { width: 88px; display: inline; float: left; padding: 2px;margin-right: 13px; }
.textlink a { line-height: 22px; display: block; width: 97px; float: left; text-align:center}


.index_brandlist ul li a{display:block;width:100%;height:100%;}

/* four black */
.four-black {width:1200px; height:152px; overflow: hidden; margin:15px auto 15px auto;}

.four-black ul li {width:302px; height:152px; margin:0 auto; float:left;}

.four-black ul li img {width:290px; height:150px; border:1px #ccc solid;}

.four-black ul li:hover img {width:290px; height:150px; border:1px #e10414 solid;}

/* two black */
.two-black {width:1200px; height:222px; overflow: hidden; margin:0 auto 15px auto;}

.two-black ul li {width:600px; height:222px; margin:0 auto; float:left;}

.two-black ul li img {width:593px; height:220px; border:1px #ccc solid;}

.two-black ul li:hover img {width:593px; height:220px; border:1px #e10414 solid;}

/* 大牌盛宴 */
.brand {width:1198px; height:260px; overflow: hidden; margin:0 auto 15px auto; border:1px #bbb solid;}

.brand-left {width:290px; height:260px; margin:0 auto; float:left;}

.brand-right {width:908px; height:260px; margin:0 auto; float:left;}

.mr_frbox {width:888px; height: 260px; padding:0 10px;}
.mr_frBtnL { float: left; margin: 107px 22px 0px 0px; cursor: pointer; display: inline; }
.mr_frUl { float: left; height: 223px; width: 788px; padding-top:37px;}
.mr_frBtnR { float: right; margin: 107px 0px 0px 22px; cursor: pointer; }
.mr_frUl ul li { display: inline; float: left; height: 260px; width: 187px; margin-right: 13px; overflow: hidden; }
.mr_frUl ul li img {width:185px; height:185px; border:1px #ccc solid;
border-radius: 185px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 185px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 185px; /* Webkit浏览器的私有属性 */ 
border-radius: 185px 185px 185px 185px; /* 四个半径值分别是左上角、右上角、右下角和左下角 */ }
.mr_frUl ul li:hover img {border:1px #e10414 solid;}

/* 通栏广告 */
.middle-ad {width:1200px; height:100px; margin:20px auto 0 auto;}































